@model IEnumerable<ItemStore.Presentation.ViewModels.ItemViewModels.ItemViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListItemView</title>
</head>
<body>
    <p>
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-action="CreateItem">Create New</a>
        }
        else
            {
                <a asp-controller="Account" asp-action="Login">Log in to add an item</a>
            }

    </p>

    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src=@item.Image alt="ProductImage">
                <div class="card-body">
                    <h3 class="card-title "> @item.Brand</h3>
                    <h4>@item.Name</h4>
                    <h5>€@item.Price</h5>
                    <p class="card-text">@item.Description</p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Item" asp-action="Item" asp-route-id="@item.ID">Details</a>
                    <a asp-controller="Item" asp-action="DeleteItem" asp-route-id="@item.ID">Delete</a>
                </div>
            </div>
        </div>
    }
</body>
</html>
